@use "variables";
footer{
    background-color: variables.$tamnoPlava;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;

    a{
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        color: white;

        
    }
    .desni{
        margin-left: auto;
    }
}